img {
  width: 20%;
}

#image-content {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-around;
  
}

#text-description {
  width: 70%;
}

#side-bar {
  width: 30%;
}

#site-content {
  display: flex;
}