html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (min-width: 1281px) {
  body {
    background-color: beige;
    margin: 0 auto;
    width: 80%;
    font-size: 1.3em;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: cornflowerblue;
    width: 100%;
  }

  header ul {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
  }
  
}