nav li {
  display: inline-block;
  padding: 20px;
  margin-right: 70px;
  
  
}

header, h2 {
  text-align: center;
}

nav {
  width: 100%;
  text-align: right;
}

a {
  text-decoration: none;
}

span {
  font-style: italic;
}